<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<title>Bus Map</title>
<link rel="stylesheet" href="https://unpkg.com/leaflet/dist/leaflet.css" />
<style>
    #map {
        width: auto; /* Ancho de toda la ventana gráfica */
        height: 80vh; /* Alto de toda la ventana gráfica */
        margin: 5%;
    }
</style>
{% extends 'mainapp/base.html' %}
{% load static %}
{% block content %}
<body>
    <div id="map">
        {{ mapa_html|safe }}
    </div>

    <script src="https://unpkg.com/leaflet/dist/leaflet.js"></script>
</body>
</html>

{% endblock %}