{% load static %}
<nav class="navbar navbar-expand-lg navbar-light" style="margin-right: 5%; margin-left: 5%;">
  <a class="navbar-brand m-3" href="/">
    <img src="{% static 'mainapp/images/nav_logo.png' %}" height="50px" style="margin:1%;">
  </a>

  <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbar-menu" aria-controls="navbar-menu" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbar-menu">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item">
        <a class="nav-link" href="map">Interactive Map</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="route">Route planner</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="search_stop">Stop Information</a>
      </li>
      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          Bicimad
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
          <a class="dropdown-item" href="bicimad_status">Bicimad Map</a>
          <a class="dropdown-item" href="bicimad_ui">Bicimad Assistant</a>
        </div>
      </li>

    </ul>
  </div>
    <div >
      <div id="hello-msg" class="mr-3">Hello, {{request.user}}</div>
      {% if not user.is_authenticated %}
        <a class="nav-link" href="login">Login</a>
      {% else %}
        <a class="nav-link" href="logout">Logout&nbsp;({{request.user}})</a>
      {% endif %}
    </div>

</nav>
